body{
    background-color: antiquewhite;
}

table{
    text-align: center;
    width: 100%; /* Optional: Set the width of the table */
    border: 1px solid black;
}
tr{
    height: 15px;
}
td{
    border: 1px solid black;
    height: 2px;
}

.teampic{
    width:150px; 
    height: 150px;
    border-radius: 50%;

}

